.MyAccess {
	font-family: 'Saira Condensed';
	background-color: #084663;
	height: 60em; 
	
}

.MyAccess  .MyH1AccesRapides {
    color: var(--BLEU, #B04444);
    font-family: Saira Condensed;
    font-weight: 800;
    font-size: 350%;
    font-style: normal;
    line-height: normal;
    padding: 2% 0% 0% 4%;
}


.MyCarouselAccess {
	position: relative;
	display: flex;
	
}

.MyCarouselAccess .MyDivNavLinks {
	position: relative;
	display: flex;
	left: 15em;
	top : -2.5em;
}

.MyCarouselAccess .MySlidesAccess {
	position: relative;
	top : -5em;

}

.MyCarouselAccess .MySlidesAccess img {
	position: absolute;
	width: 800px;
	height: 620px;
	top : 9.6em;
	left: 4em;
	opacity: 0;

	z-index: 9999;

}

.MyCarouselAccess .MySlidesAccess img.active {
	opacity: 1;
}

.MyCarouselAccess .MyOverlaysAccess {
	position: relative;
	top: 4em;
	width: 58em;
	height: 40em;
}

.MyCarouselAccess .MyOverlaysAccess .bar {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--bar-color);
	transform-origin: left;
	/*filter: blur(5px);*/
}

.MyCarouselAccess .MyDivNavLinks .MyNavListLinks {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
	padding: 0 0 0 6em;
	list-style-type: none;
}

.MyCarouselAccess .MyDivNavLinks .MyNavListLinks .nav-linkAcc .MyH1Access {
	font-size: 2.5rem;
	font-weight: 800;
    font-family: 'Saira Condensed';
	line-height: 1.4;
	text-decoration: none;
	color: #FFFFFF;
	transition: 0.1s;
}


.MyCarouselAccess .MyDivNavLinks .MyNavListLinks .nav-linkAcc .MyH1Access:hover {
	color: #B04444;
	font-size: 2.5rem;
	font-family: 'Saria Condensed';
	font-weight: bold;
	line-height: 1.4;
	text-decoration: none;
	transition: 0.1s;
}



.MyCarouselAccess .MyDivNavLinks .MyNavListLinks .nav-linkAcc .MyH1Access .MyStarAccess {
	fill: transparent;
	stroke: #FFFFFF;
	stroke-width: 0.9;
}

.MyCarouselAccess .MyDivNavLinks .MyNavListLinks .nav-linkAcc .MyH1Access .MyStarAccess2 {
	fill : transparent;
	stroke:#FFFFFF;
	stroke-width: 0.8 !important;
}

.MyCarouselAccess .MyDivNavLinks .MyNavListLinks .nav-linkAcc .MyH1Access.active {
	color: #B04444;
	pointer-events: none;
	font-size: 2.5rem;
	font-family: 'Saria Condensed';
	font-weight: bold;
	line-height: 1.4;
	text-decoration: none;
	transition: 0.1s;
}

.MyCarouselAccess .MyDivNavLinks .MyNavListLinks .nav-linkAcc .MyH1Access.active .MyStarAccess {
	stroke: #B04444;
	fill :  #B04444;
	pointer-events: none;
}

.MyCarouselAccess .MyDivNavLinks .MyNavListLinks .nav-linkAcc .MyH1Access .MyTextAccess {
	font-size: 1.1rem;
    font-family: 'Saira Condensed';
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
	transition: 0.1s;
}

.MyCarouselAccess .MyDivNavLinks .MyNavListLinks .nav-linkAcc .MyH1Access.active .MyTextAccess{
	color: #B04444;
	pointer-events: none;
	font-size: 1.1rem;
	/*font-family: 'Saria Condensed';*/
	text-decoration: none;
	transition: 0.1s;
}






