body {
    font-family: 'Cinio text';

}

header {
    background-color: #212121;
    background-size: cover;
}

#myRightImages {
    max-height: 218px;
    object-fit: cover;
    filter: opacity(20%);
}

#myGalerieImages {
    max-width: 100%;
    margin-right: 12px !important;
    margin-left: auto !important;
}

.myColumn3 {
    padding-left: 0px;
}

#myTitlePresentation {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    display: block;
    font-family: 'Saira Condensed';
}

.myPresentation {
    z-index: 1;
    position: relative;
}

.myPresentation:hover .mask {
    opacity: 1;
}

.presentation-title {
    display: none;
}

.myPresentation:hover .presentation-title {
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    font-family: 'Saira Condensed';
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 25% 10%;
}

.mySubtitle {
    color: #FFF;
    font-family: Saira Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
}

.myPresentation:hover #myTitlePresentation {
    display: none;
}

.mask {
    max-height: 218px;
}

.middle {
    max-height: 300px;
}

/* Solid border */
hr.solid {
    border-top: 6px solid #F2E8CF;
    display: flex;
    position: sticky;
    bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    z-index: 3;
    border-radius: 6px;
}

#myMiddleImages {
    max-height: 300px;
    object-fit: cover;
    filter: opacity(20%);
}

#mainTitle {
    z-index: 3;
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mainTitle h1 {
    text-align: center;
    font-size: 120px;
    font-family: 'Saira Condensed';
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
}

.non-interactive {
    pointer-events: none;
}

.non-interactive .searchbar {
    pointer-events: auto;
}

.searchbar {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: #212121;
    transition: 0.5s;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchbar.active {
    width: 360px;
}

.searchbar .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #212121;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}

.searchbar .icon::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid white;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.searchbar .icon::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: white;
    transform: translate(6px, 6px) rotate(315deg);
}

.searchbar .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar .input input {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
    background: #212121;
    color: white;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: #999;
    transform: rotate(315deg);
}

.myRightColumn {
    padding-right: 0 !important;
}

/* Début de l'Agenda */

#myAgenda {
    background: #212121;
    font-family: 'Saira Condensed';
    padding-top: 2%;
    padding-bottom: 8%;
}

#myAgendaTitle {
    color: #084663;
    font-weight: 800;
    font-size: 280%;
    margin: 2% 0%;
    padding-left: 2%;
}

#myAgendaContainer {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

#myAgendaBgImage {
    display: block;
    margin: 0 auto;
    filter: brightness(28%);
}

#myAgendaOverlayText {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    text-align: left;
    display: inline;
    color: #FFFFFF;
    font-size: 180%;
    font-weight: 400;
}

#myAgendaList {
    list-style: none;
    padding: 0;
}

.myAgendaArticle {
    cursor: pointer;
    margin: 16% 0%;
    width: 150%;
    transition: transform 0.2s;
}

.myAgendaArticle:hover {
    transform: scale(120%);
    color: #B04444;
}

.myAgendaArticleLien {
    color: #FFFFFF !important;
    text-decoration: none;
}

.myAgendaArticleDate,
.myAgendaArticleTitle {
    padding-left: 10%;
    width: 150%;
}

.myAgendaArticleTitle {
    font-weight: 600;
}

/* Fin de l'Agenda */

/* Début du Footer */

#myFooter {
    background: #084663;
    font-family: 'Saira Condensed';
    color: #FFFFFF;
    text-align: center;
    height: 180%;
    padding: 0.4% 0%;
}

#myFooterTable {
    width: 80%;
    margin: 2% auto;
    font-size: 140%;
    font-weight: 400;
}

#myFooterTable td {
    width: 33%;
}

.myFooterTableTitle {
    display: block;
    margin: 0% 20%;
}

.myFooterTableTitle h2 {
    margin: 8% 0%;
    font-weight: 800;
}

.myFooterTableBar {
    width: 2px;
    height: 200px;
    background-color: #FFFFFF;
}

#myFooterForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.myFooterIcon {
    cursor: pointer;
    margin: 0% 2%;
}

.myFooterIcon:hover path {
    fill: #B04444;
}

#myFooterBtnEmail {
    background-color: #B04444;
    color: #FFFFFF;
    border-radius: 40px;
    border: 0px;
    padding: 2% 4%;
    width: 40%;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#myFooterBtnEmail:hover {
    background-color: #FFFFFF;
    color: #B04444;
}

#myFooterBtnEmail:hover svg path {
    fill: #B04444;
}

#myFooterBtnEmail span {
    font-size: 80%;
    margin-right: 20%;
}

#myFooterEnd {
    font-size: 120%;
    font-weight: 600;
}

.myFooterLink {
    text-decoration: none;
    color: #FFFFFF !important;
    margin: 0% 0.4%;
}

.myFooterLink:hover {
    color: #B04444 !important;
}

#myFooterEndCredit {
    text-align: right;
    margin-top: 1%;
    padding-right: 2%;
}

/* Fin du Footer */

