body {
    font-family: 'Cinio text';

}

header {
    background-color: #212121;
    background-size: cover;
}

#myRightImages{
    max-height: 218px;
    object-fit: cover;
    filter: opacity(20%);    
}

#myGalerieImages {
    max-width: 100%;
}

.myColumn3 {
    padding-left: 0px;
}

#myTitlePresentation {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    display: block;
}

.myPresentation {
    z-index: 1;
}

.myPresentation:hover .mask {
    opacity: 1;
}

.mask{
    max-height: 218px;
}

.middle {
    max-height: 300px;
}

/* Solid border */
hr.solid {
    border-top: 6px solid #F2E8CF;
    display: flex;
    position:sticky;
    bottom:20px;
    margin-left: 200px;
    margin-right: 200px;
    z-index: 3;
}

#myMiddleImages{
    max-height: 300px;
    object-fit: cover;   
    filter: opacity(20%);
}