/* ANIMATION POUR MODIF LE BG COL EN 2 COL*/
@keyframes mymove {
    from {
        background-color: #212121;
    }

    to {
        background-color: #fff;
    }
}

#ActusTitle {
    color: var(--BLEU, #084663);
    font-family: Saira Condensed;
    font-weight: 800;
    font-size: 350%;
    font-style: normal;
    line-height: normal;
    padding: 2% 0% 0% 4%;
}

#MyActus {
    height: 61em;
    background-color: #212121;
}

#LienActus {
    color: #084663;
    font-family: 'Saira Condensed';
    font-size: 28px;
    font-style: normal;
    text-decoration: none;
    font-weight: 800;
    line-height: normal;
    position: absolute;

    right: 23%;
    margin-TOP: -2em;
    max-width: 80%;
    transition: color 0.3s;
}

#LienActus:hover {
    color: #6FB9DB;

}

.center {

    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 72%;
    margin-top: 5%;
    /*sert à rien*/
    /*min-height: 65%;
    max-height: 65%;*/
    justify-content: center;
    margin-left: 12.5%;
}

.wrapper {
    display: inline-flex;
    align-items: flex-start;
    grid-gap: 1em;
    overflow: hidden;
    width: 80%;
    /*margin-left: 10%;*/

}

.wrapper>.inner {
    /*background-color: pink;*/
    display: flex;
    grid-gap: 1em;
    transition: all 1s ease-in-out;

}

.card {
    box-shadow: -3px 0px 10px #6c2929, 3px 0px 10px #6c2929;
    margin: 0 15px;
    /*afin d'avoir une distance entre les 3 cards d'un wrapper*/
    transition: transform 0.2s;
    cursor: pointer;
    position: relative;
}

.card:hover {
    transform: scale(1.02);
}

.card>img {
    display: flex;
    width: 100%;
    height: 50%;
    object-fit: content;
}

.card>.content {
    /*flex: 0 0 33.3333%; */
    background: #B04444;
    width: 325px;
    height: 20%;
    min-height: 60%;
    max-height: 70%;
    flex-shrink: 0;
    flex: 1;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 1em;
    text-align: center;
}

.card>.content>h1,
.card>.content>h3 {
    margin: 0.35em 0;
}

.card>.content>h1 {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
}

.card>.content>h3 {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
}

.card>.content>.MyDateActu {
    color: #FFF;
    font-kerning: none;
    font-feature-settings: 'dnom' on, 'salt' on;
    font-family: 'Saira Condensed';
    font-size: 18;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: end;
    position: absolute;
    padding-top: 30px;
    margin-left: 220px;
}

.myDateActu1{padding-top: 47px !important;}
.myDateActu2{padding-top: 52px !important;}
.map {
    margin-top: 1em;
}

.map>button {
    all: unset;
    background: #B04444;
    cursor: pointer;
    margin: 0 0.125em;
    user-select: none;
    border-radius: 100%;
    height: 1em;
    width: 1em;
    display: inline-block;
}

.map>button.active:after {
    background: #212121;
    content: "";
    display: block;
    height: 65%;
    width: 65%;
    border-radius: 100%;
    margin: 0 auto;
    /* Centre le point actif horizontalement */
}