.MyBodyActualites{
    background-color: #212121;
 
}

.MyActualitesContener{
    background-color: #212121;
}
.MyActualitesContener .TopOfActus .MyTitlesActus .MyH1Actus{
    padding-top: 0.5%;
    padding-left: 2%;
    color : #084663;
    font-weight: 800;
    font-size: 350%;
    line-height: normal;
    font-weight: bold !important;
}

.MyActualitesContener .TopOfActus .MyTitlesActus .MyTextWayActus{
    padding-left: 4%;
    color : #084663;
    font-weight: bold;
}

.MyActualitesContener .TopOfActus .MyTitlesActus .MyTextWayActus .MyTextWayActusSuite{
    color : #B04444 !important;
    font-weight: bold !important;
}

.MyActualitesContener .TopOfActus .MyTitlesActus .MyTextWayActus .MyTextWayActusSuite .MyTextWayActusLink{
    color : #084663 !important;
    font-weight: bold !important;
}


.MyTextWayActusLink{
    text-decoration: none;
}









/****css bar de navigation circulaire*****/

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* NADIR si tu veux bouger le menu de place c'est ici (top et left ET width et height)*/
.container-menu {
    width: 15%;
    height: 25%;
    position: fixed;
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%);
    /*background: green;*/ 

}

.btn-menu {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f1f1; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*afin de le centrer sur le rectangle invisible du container-menu*/
    z-index: 20; /*crée une hierarche de couche, il sera au dessus des zindex <20*/
    cursor: pointer;
}

/*1ère ligne du milieu du btn-menu*/
.ligne {
    width: 40px;
    height: 5px;
    border-radius: 5px; /*pour animation*/
    background: #084663;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-in-out;
}
/*2eme*/
.ligne::before{
    content: '';
    position: absolute;
    bottom: 10px;
    background: #084663;
    width: 100%;
    height: 5px;
    border-radius:5px;  
    transition: all 0.2s ease-in-out;
}
/*3eme*/
.ligne::after{
    content: '';
    position: absolute;
    top: 10px;
    background: #084663;
    width: 100%;
    height: 5px;
    border-radius:5px;  
    transition: all 0.2s ease-in-out;
}

/*Animation pour croix*/
.container-menu.active .ligne{
    background: transparent; /*pour qu'elle disparaisse le tps de l'anim*/
}
.container-menu.active .ligne::before{
    transform: translateY(10px) rotate(-45deg);
}

.container-menu.active .ligne::after{
    transform: translateY(-10px) rotate(45deg);
}
.icone {
    width: 40px;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f1f1; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex; /*centré parfaitement sur les cercles + cf autres propriétés*/
    justify-content: center;
    align-items : center;
    flex-direction: column;
}

.circle {
    cursor: pointer;
}

.circle {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.circle:hover {
    background-color: #B04444;
}

.circle-title {
    display: none;
    font-size: 85%;
  }
  
.circle:hover .circle-title {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    white-space: nowrap;
    padding: 5%;
    border-radius: 5px;
  }
  
  
.container-menu.active .circle-content span {
    display: block;
}


.circle-1 {
    background: #084663;
    transition: all 0.15s 0.1s ease-in ; /*délai d'apparition(0,1s sur 0,2 d'anim) de cq sous menu #js*/
}

.circle-2 {
    background: #0F6F9C;
    transition: all 0.15s 0.2s ease-in ;
}

.circle-3 {
    background: #3182CD;
    transition: all 0.15s 0.3s ease-in ;
}

.circle-4 {
    background: #6FB9DB;
    transition: all 0.15s 0.4s ease-in ;
}

/*Animation*/
.container-menu.active .circle-1 {
    left: 100%;   
}
.container-menu.active .circle-2 {
    top: 100%;   
}
.container-menu.active .circle-3 {
    top: 50%;
    left: 0%;   
}
.container-menu.active .circle-4 {
    top: 0%;   
    left: 50%;
}

/****fin css nav bar circulaire****/

/****css boutons filtres******/



.MyFilterContainerActualites{
    width: 100vw;
    margin: 0 3px;
    margin-top : 6%;
    padding: 40px 0;
}

.MyCategoryHeadActualites{
    margin: 30px 0;
    margin-left: 5%;
}
.MyCategoryHeadActualites ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category-title{
    flex: 0 0 calc(16.6667% - 10px);
    font-weight: bold;
    display: flex;
    justify-content:center;
    background: #0F6F9C;
    padding: 20px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.category-title:hover{
    opacity: 0.7;
}
.category-title li{
    padding: 0 10px;
}
.category-title span{
    color: #222;
}

/****css fin boutons filtres***/

/**** css debut article ****/

.MyPostsMainContainerActus{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    margin-top: 30px;
    
}
.MyPostsMainContainerActus > div{
    
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}
.MyPostImgActus{
    position: relative;
   
}

.MyImgActus{
    height : 530px;
    width: 530px;
}




.MyH2TitreCateg{
    color : #B04444;
    font-size: 30px;
    padding: 12px 0;
   
    font-weight: 400;
    font-family: 'Saira Condensed';
}

.MyH2TitleArticle{
    color : #fff;
    font-family: 'Saira Condensed';
    font-weight: bold;
    padding: 12px 0;
    font-weight: 800;
   
}

.MyPostContentDateBottom{
    color : #FFF;
}

.fas{
    color : #fff;
}

.MyLinkActu{
    text-decoration: none;
}

.all{
    background-color: #084663;
    display: flex; 
    margin-top: 60px;
    width: 50%;
    margin-left: 5.6%;
}


.MyPostDroite{
    margin-left : 625px !important;
    
}
.MyPostDroite .MyPostImgActus{
    position: relative;
    margin-left : 225px;
   
}



.MyPostContentActus{
    margin-left: 30px;
  
}


/*****css fin article***/

/***css responsive***/
@media(max-width: 1170px){
    .MyPostsMainContainerActus{
        grid-template-columns: repeat(2, 1fr);
        display: block;
    }
}
@media(max-width: 768px){
    .MyPostsMainContainerActus{
        grid-template-columns: 1fr;
        display: block;
    }
}
/***css fin responsive***/


.actived{
    background: #B04444;
}

.MyBackTop{
    stroke: #B04444;
	fill :  #B04444;
}


 
